    <!-- ***** Download Area Start ***** -->
    {{{ _editable }}}
    <section class="section download-area overlay-dark ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Download Text -->
                    <div class="download-text text-center">
                        <h2 class="text-white">{{title}}</h2>
                        <p class="text-white my-3 d-none d-sm-block">
                            {{description}}
                        </p>
                        <p class="text-white my-3 d-block d-sm-none">
                            {{description}}
                        </p>
                        <!-- Store Buttons -->
                        <div class="button-group store-buttons d-flex flex-wrap justify-content-center">
                            <!-- <a class="btn btn-yellow media d-none d-lg-flex" href="#">
                                    <i class="fab fa-windows fa-2x align-self-center"></i>
                                    <span class="store-btn-content media-body pl-3">
                                        <span class="d-block mb-2">Download for</span>
                                        <span>Windows</span>
                                    </span>
                                </a> -->
                            {{#each downloadLink}}
                                <a class="btn btn-yellow media" href="#">
                                    <i class="fab {{downlodIcon}} fa-2x align-self-center"></i>
                                    <span class="store-btn-content media-body pl-3">
                                        <span class="d-block mb-2">{{title}}</span>
                                        <span>{{downloadStore}}</span>
                                    </span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Download Area End ***** -->