    {{{ _editable }}}
    <section id="faq" class="section faq-area ptb_100" style="background-color: #000">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!-- FAQ Content -->
                    <div class="faq-content">
                        <!-- AppMax Accordion -->
                        <div class="accordion" id="accordion-main">
                            <div class="row justify-content-center">
                                
                                <div class="col-12 col-md-10 col-lg-8">
                                    {{#each categories}}
                                    <!-- generate faq start -->
                                    <div class="card border-0">
                                        <!-- Card Header -->
                                        <div class="card-header border-0">
                                            <h2 class="mb-0">
                                                <button class="btn collapsed px-0 py-3" type="button"
                                                    data-toggle="collapse" data-target="#x{{_uid}}">
                                                    {{Category}}
                                                </button>
                                            </h2>
                                        </div>
                                        <!-- Card Body -->
                                        <div id="x{{_uid}}" class="collapse" data-parent="#accordion-main">
                                            <div class="card-body py-3">

                                                <div class="accordion" id="accordion-xxmrr0290kzh">
                                                    {{#each questions}}
                                                    <div class="card border-0">
                                                        <!-- Card Header -->
                                                        <div class="card-header border-0">
                                                            <h2 class="mb-0">
                                                                <button class="btn collapsed px-0 py-3" type="button"
                                                                    data-toggle="collapse" data-target="#x{{_uid}}">
                                                                    {{title}}
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <!-- Card Body -->
                                                        <div id="x{{_uid}}" class="collapse"
                                                            data-parent="#accordion-xxmrr0290kzh">
                                                            <div class="card-body py-3">
                                                                {{answer}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>