{{{ _editable }}}
<section id="how" class="section work-area overlay-dark overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <!-- Work Content -->
                    <div class="work-content text-center">
                        <span class="section-span">{{reasonToChoose}}</span>
                        <h2>{{title}}</h2>
                        <p class="my-3 mt-sm-4 mb-sm-5">
                            {{{desription}}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each singleWork}}
                    <div class="col-12 col-md-6 col-lg-3">
                        <!-- Single Work -->
                        <div class="single-work text-center p-3">
                            <!-- Work Icon -->
                            <div class="work-icon">
                                <span>{{stepNumber}}</span>
                            </div>
                            <img style="max-height: 300px" class="my-2 mt-4" alt=""
                                src="{{stepPhoto.filename}}" />
                            <h3 class="py-3">{{stepTitle}}</h3>
                            <p style="max-width: 150px; margin: auto">
                                {{stepDescription}}
                            </p>
                        </div>
                    </div>
                {{/each}}
                {{!-- <div class="col-12 col-md-6 col-lg-3">
                    <!-- Single Work -->
                    <div class="single-work text-center p-3">
                        <!-- Work Icon -->
                        <div class="work-icon">
                            <span>2</span>
                        </div>
                        <img style="max-height: 300px" class="my-2 mt-4" alt="" src="/public/images/content/2-scan.png" />
                        <h3 class="py-3">Scan</h3>
                        <p style="max-width: 150px; margin: auto">
                            QR Code on OCTI Station &amp; get a power bank
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Single Work -->
                    <div class="single-work text-center p-3">
                        <!-- Work Icon -->
                        <div class="work-icon">
                            <span>3</span>
                        </div>
                        <img style="max-height: 300px" class="my-2 mt-4" alt="" src="/public/images/content/3-charge.png" />
                        <h3 class="py-3">Charge</h3>
                        <p style="max-width: 150px; margin: auto">
                            On the Go with OCTI Power-Bank
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Single Work -->
                    <div class="single-work text-center p-3">
                        <!-- Work Icon -->
                        <div class="work-icon">
                            <span>4</span>
                        </div>
                        <img style="max-height: 300px" class="my-2 mt-4" alt="" src="/public/images/content/4-return.png" />
                        <h3 class="py-3">Return</h3>
                        <p style="max-width: 150px; margin: auto">
                            Power bank to Any OCTI Station in Egypt
                        </p>
                    </div>
                </div> --}}
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="work-btn text-center mt-4 mt-lg-5">
                        <a class="btn btn-yellow" href="{{learnMoreLink.cached_url}}">{{learnMoreTitle}}</a>
                    </div>
                </div>
            </div>
        </div>
</section>