    {{{ _editable }}}
    <section id="partners" class="section screenshots-area dark-bg ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2 class="text-capitalize">
                            {{title}}
                        </h2>
                        <p class="mt-4">
                            {{description}}
                        </p>
                        <a class="btn btn-yellow my-4" href="{{becomePartnerLink.cached_url}}">
                            {{becomePartnerLinkTitle}}
                        </a>
                    </div>
                </div>
                <!-- App Screenshot Slider Area -->
                <div class="app-screenshots owl-carousel">
                    <!-- Single Screenshot Item -->
                    {{#each sliderAreaImages}}
                    <div class="single-screenshot">
                        <img src="{{sliderImage.filename}}" alt="">
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>