   {{{ _editable }}}
<section id="features" class="dark-bg section promo-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>{{title}}</h2>
                    <p class="d-none d-sm-block mt-4">{{description}}</p>
                    <!-- <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            
            {{!-- <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Promo -->
                <div class="single-promo p-4">
                    <i class="pe-7s-plug"></i>
                    <!-- Promo Text -->
                    <div class="promo-text mt-3">
                        <h3 class="mb-2">Charging Service</h3>
                        <p>Customers charge their phone without
                            needing to leave it
                            somewhere
                        </p>
                    </div>
                </div>
            </div> --}}
            {{#each singlePromo}}
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Promo -->
                <div class="single-promo p-4">
                    <!-- <i class="pe-7s-graph"></i> -->
                    <img style="width: 40px; height: 50px" src="{{stepPhoto.filename}}" alt="" />
                    <!-- Promo Text -->
                    <div class="promo-text mt-3">
                        <h3 class="mb-2">{{stepTitle}}</h3>
                        <p>{{stepDescription}}
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</section>