
{{{ _editable }}}
<!-- SECTION TOP PADDING -->
<div class="d-lg-none dark-bg" style="padding-top: 80px;">
  &nbsp;
</div>
<div class="d-none d-lg-block dark-bg" style="padding-top: 150px;">
  &nbsp;
</div>
<section class="dark-bg section discover-area overflow-hidden">
    <div class="container">
        <div class="row justify-content-between">
          
            <div class="col-12 col-lg-6 order-2">
                <!-- Discover Text -->
                <div class="discover-text px-0 px-lg-4 pt-4 pt-lg-0">
                    <div class="pb-5">
                        <h2 style="font-size: 2.2em;" class="pt-5 pb-4">{{title}}</h2>
                        <p>
                          {{description}}
                        </p>
                    </div>
                    {{#each toggleButtons}}
                    <div class="d-flex" style="padding-bottom: 20px;">
                      
                        <button id="showMimic" onclick="toggleStation('{{buttonName}}')"class="btn btn-outline square active">{{buttonName}}</button>
                        {{#each subToggle}}
                          <button id="{{_uid}}" onclick="toggleStation('{{buttonName}}')" class="btn btn-outline square">{{buttonName}}</button>
                        {{/each}}
                    </div>
                    {{/each}}
                    <!-- START STATION MIMIC -->
                    {{#each mainShow}}
                    <div class="mimic stations ">
                        <span style="font-size: 2em; padding: 1em 1em">{{slotsNumber}}</span>
                        <table>
                          {{#each addPrevilage}}
                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">{{name}}</td>
                                <td>{{description}}</td>
                            </tr>
                          {{/each}}
                        </table>
                    </div>
                    {{/each}}
                    <!-- END STATION MIMIC -->

                    <!-- START STATION DUMBO -->
                    {{#each subToggleShow}}
                    <div class="dumbo d-none stations">
                      
                        <span style="font-size: 2em; padding: 1em 1em">{{slotsNumber}}</span>
                        <table>
                          {{#each addPrevilage}}
                            <tr>
                                <td style="width: 130px !important; font-weight: bold;" class="pb-4">{{name}}</td>
                                <td>{{description}}</td>
                            </tr>
                          {{/each}}
                        </table>
                      
                    </div>
                    {{/each}}
                    <!-- END STATION DUMBO -->
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1" style="padding: 20px 0px; display: flex; align-items: center;">
                <!-- Discover Thumb -->
                <div class="service-thumb discover-thumb mx-auto text-center"
                    style="display: flex !important; align-items: center;">
                    <div style="background-color: #f9e71a; padding: 105px 60px; border-radius: 0 0 50% 50%/0 0 0% 20%;">
                        {{#each subToggleShow}}
                        <img class="dumbo d-none" src="{{subStationPhoto.filename}}" alt="" style="transform: scale(1.2);" />
                        {{/each}}
                        {{#each mainShow}}
                        <img class="mimic" src="{{stationPhoto.filename}}" alt="" style="transform: scale(1.2);" />
                        {{/each}}
                    </div>
                </div>
                <!-- <div class="d-lg-none service-thumb discover-thumb mx-auto text-center" style="">
                <img src="/public/images/Dumbo.png" alt="" style="transform: scale(0.8);" />
              </div> -->
            </div>
            
        </div>
    </div>
</section>